altgraph==0.17.4
asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.13.3
blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.7
distlib==0.3.8
Django==5.0.6
django-bootstrap4==24.4
django-filter==24.3
django-grappelli==4.0.1
django-suit @ https://github.com/darklow/django-suit/tarball/v2#sha256=b40c916de9528ca86bcccd42d1fd54e7773e5071d2bfd9efc576039c1a441c0b
djangorestframework==3.15.2
filelock==3.16.0
Flask==3.0.3
gunicorn==23.0.0
h11==0.14.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
mysqlclient==2.2.4
numpy==1.26.4
outcome==1.3.0.post0
packaging==24.0
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.3.1
playsound==1.3.0
pluggy==1.5.0
pycparser==2.22
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PySocks==1.7.1
pytest==8.3.4
python-dotenv==1.0.1
pytube==15.0.0
pywin32-ctypes==0.2.2
requests==2.31.0
schedule==1.2.2
selenium==4.21.0
setuptools==70.0.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.0
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.4
webdriver-manager==4.0.1
Werkzeug==3.0.3
wheel==0.43.0
wsproto==1.2.0
