{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts_layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_design.css' %}">
{% endblock extra_css %}

{% block body %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Profile</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Profile Summary</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Name: <span>{{ profile.user.username }}</span></li>
                                <li>Email: <span>{{ profile.user.email }}</span></li>
                                <li>Phone: <span>{{ profile.phone_number|default:"Not provided" }}</span></li>
                                <li>Address: <span>{{ profile.city|default:"Not specified" }}</span></li>
                                <li>Bio: <span>{{ profile.bio|default:"No bio available" }}</span></li>
                            </ul>
                            {% if profile.image %}
                                <div class="profile-image mt-3">
                                    <img src="{{ profile.image.url }}" alt="Profile Image" class="img-fluid" style="max-width: 200px; border-radius: 10px;">
                                </div>
                            {% endif %}
                        </div>
                        <div class="p-5">
                            <a class="boxed-btn3 w-100" href="{% url 'accounts:profile_edit' %}">Edit Profile</a>
                            <a class="boxed-btn3 w-100 mt-3" href="{% url 'accounts:profile_delete' %}">Delete Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/accounts_behavior.js' %}"></script>
{% endblock %}