{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Do You Want To Delete?</h1>
                </div>
                <div class="card-body text-center">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-danger mr-2">
                        <a href="{% url 'post:post_detail' post.slug %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}