{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>Add Post</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Add Post" class="btn btn-custom">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}